
        ul {
            list-style: none;
    }   
    a:focus li{
        border-top: solid 3px;
        border-bottom: solid 3px;
        border-color: white;
        background-color: #66607c; 
        text-decoration: line-through;
    }
        li:hover{
            border-top: solid 3px;
            border-bottom: solid 3px;
            border-color: white;
            background-color: #66607c; 
            text-decoration: line-through; 
            cursor: pointer;         
        }
        .li1 {
            background-color: #88839e;
            padding: 10px;
            font-size: 18px;
            font-family: serif;
            font-weight: bold;
            color: white;
            text-shadow: black 2px 0px 2px;
            letter-spacing: 2px;
        }
        .li2{
            background-color: #7a7593;
            padding: 10px;
            font-size: 18px;
            font-family: serif;
            font-weight: bold;
            color: white;
            text-shadow: black 2px 0px 2px;
            letter-spacing: 2px;
        }
        .section1 {
            margin-left: 25%;
            margin-right: 25%;
            padding-top: 50px;
        }
        .section2:hover{
            border: 1px solid #5a5f64;
            background-color: #4d525a;
        }
        .section2 {
            background-color: #4a4f56;
            text-align: center;
            margin-top: 80px;
            margin-left: 30%;
            margin-right: 27%;
            padding: 1px;
            color: #eb6263;
            font-size: 20px;
            font-weight: bold;
        }
        header {
            background-color: #4a4f56;
            text-align: center;
        }
        .hsection1 {
            color: #eb7e7f;
            padding-top: 0.5%;

        }
        
        .hsection2 {
            color: #eb6263;
            padding-bottom: 0.5%;
        }
        span {
            font-size: 12px;
        }
